.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;


}

.label {
    font-size: 12px;
    margin-bottom: 4px;

}

.fild {
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.fild:focus {
    box-shadow: rgba(0, 0, 255, 0.425) 0px 50px 100px -20px, rgba(0, 0, 255, 0.534) 0px 30px 60px -30px, rgba(0, 0, 255, 0.582) 0px -2px 6px 0px inset;
}