.listItem {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    border-radius: 4px;
    padding: 8px 12px;
    width: 250px;
    margin-bottom: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-size: 12px;
}

.row {
    align-items: center;
    display: flex;
    gap: 4px;

}

.deletBtn {
    border-radius: 3px;
    width: 65px;
    border: none;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


}

.deletBtn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 70px 120px -15px, rgba(0, 0, 0, 0.3) 0px 30px 80px -30px, rgba(10, 37, 64, 0.35) 0px 5px 9px 0px inset;

}